
/* -------------- FONTS ------------ */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'icomoon';
		src: url('../fonts/icomoon.svg#icomoon') format('svg');
	};
}

/* ------------- STRUCTURE --------- */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 15px; padding: 0; margin: 0;}

html{
    height: 100%;
    width: 100%;
    font-size: 10px;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

.main,
.container > header {
	width: 100%;
	margin: 0 auto;
}
/* ------------- CLASS ------------ */

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    left:-1000px;
}

.uppercase{
    text-transform: uppercase;
}

.section_title{
    line-height: 10rem;
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
}

/* ------------- HEADER ------------ */

#main_header{
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}


/* ------------- HOME ------------ */

#home{
    height: 100vh;
    background-color: rgb(0, 100, 47);
    background-size: cover;
    background-position: 0 -300px;
    padding-top: 35vh;
}

#home h1{
    color:white ;
    text-align: center;
    font-size: 6rem;
    line-height: 8rem;
}

#home h1 span{
    color: rgb(0, 160, 47);
    display: block;
}

/* ------------- PROJECTS ------------ */

#projects{
    background-color: rgb(0, 120, 47);
    min-height: 100vh;
    padding-top: 120px;
}
#container_projects{
    width: 80%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container_img{
    margin-bottom: 2rem;
}

/* ------------- ABOUT ------------ */

#about{
    background-color: rgb(0, 140, 47);
    min-height: 100vh;
    padding-top: 120px;
}

#presentation{
    font-size: 1.6rem;
    margin: 0 auto;
    width: 70%;
    padding: 0.5rem;
}

#about section{
    width: 100%;
    height: 56vh;
    display: flex;
}

.about_title{
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 2rem;
}

.competences, .parcours{
    padding: 3rem;
    background-color: rgb(88, 80, 80);
    width: 45%;
    font-size: 1.6rem;
    margin: 2.5%;
    min-height:450px; 
}

.container{
    min-height: 110px;
    display: flex;
    background-color: rgba(124, 124, 124, 0.3);
    margin: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container div{
    width: 70%;
    display: inline-block;
}

.container p {
    line-height: 8rem;
}

.resize{
    min-width: 100px;
    width: 20%;
    padding: 1rem;
}

#about .arrow_next{
    padding: 25px 0 40px;
}

.graduation{
    background-color: white;
    width: 150px;
    height: 20px;
}

.php_grad, .js_grad, .html_grad {
    background-color: purple;
    width: 100px;
    height: 20px;
}

.bubble {
    background-color: rgba(124, 124, 124, 0.3);
    border-radius: 50px;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 7.5rem;
}

.container2{
    background-color: rgba(124, 124, 124, 0.3);
    margin: 0.5rem;
    display: flex;
    padding: 1rem;
}

.container2 .event{
    width:80%;
    text-align: right;
    line-height: 7.5rem;
    margin-right: 50px;
}

.cv_button{
    margin: 10px auto;
    text-align: center;
    padding-top:5rem;
}

.cv_button a {
    line-height: 4rem;
    padding: 10px;
    font-size: 2rem;
    color: black;
    border:1px solid black;
}

/* ------------- CONTACT ------------ */

#contact{
    background-color: rgb(0, 160, 47);
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
}

#contact .section_title{
    width: 100%;
}
.contact_title{
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 2rem;
}

.left, .right{
    padding: 3rem;
    background-color: red;
    margin: 2%;
    width: 46%;
}

.arrow_top{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding-top: 140px;
}

/* ------------- FOOTER ------------ */
