/* ------------- RESET CSS ------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------- STRUCTURE --------- */

html{
    font-family: "Ralway",Arial, Helvetica, sans-serif;
    font-size: 10px;
    height: 100%;
    width: 100%;
}

/* ------------- CLASS ------------ */

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    left:-1000px;
}

.uppercase{
    text-transform: uppercase;
}

.arrow_next{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding-top: 140px;
}

.section_title{
    line-height: 10rem;
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
}

/* ------------- HEADER ------------ */

#main_header{
    width: 100%;
    background-color: rgb(192, 214, 192);
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

    /* logo */

.logo{
    padding-left: 4rem; ;
    height: 50px;
    width: 10%;
    margin: 3rem;
}

.logo a {
    color: black;
    font-size: 4rem;
    letter-spacing: -0.8rem;
}

    /* navigation */

#main_nav ul {
    display: flex;
    justify-content: center;
}

#main_nav li{
    display:inline-block;
}

#main_nav li a{
    line-height: 10rem;
    padding: 46px;
    font-size: 2rem;
    color: black;
}

#main_nav li:hover a{
    border-bottom: 2px solid black;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7da370+11,607253+83 */
    background: rgb(125,163,112); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(125,163,112,1) 11%, rgba(96,114,83,1) 83%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(125,163,112,1) 11%,rgba(96,114,83,1) 83%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(125,163,112,1) 11%,rgba(96,114,83,1) 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7da370', endColorstr='#607253',GradientType=0 ); /* IE6-9 */
}

.contact_mini{
    background-color: yellow;
    height: 50px;
    width: 10%;
    margin: 3rem;
}

/* ------------- HOME ------------ */

#home{
    height: 100vh;
    background: url("../img/header_bg.jpg") no-repeat center ;
    background-size: cover;
    background-position: 0 -300px;
    padding-top:45vh;
}

#home h1{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#40a521+11,317c31+20,2e6613+31,359e47+53,2e6613+79,2d933d+95&0.1+5,0.4+15,0.8+40,0.8+60,0.4+85,0.1+95 */
    background: -moz-linear-gradient(-45deg, rgba(64,165,33,0.1) 5%, rgba(64,165,33,0.28) 11%, rgba(57,147,40,0.4) 15%, rgba(49,124,49,0.48) 20%, rgba(46,102,19,0.66) 31%, rgba(49,125,40,0.8) 40%, rgba(53,158,71,0.8) 53%, rgba(51,143,57,0.8) 60%, rgba(46,102,19,0.5) 79%, rgba(46,119,35,0.4) 85%, rgba(45,147,61,0.1) 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(64,165,33,0.1) 5%,rgba(64,165,33,0.28) 11%,rgba(57,147,40,0.4) 15%,rgba(49,124,49,0.48) 20%,rgba(46,102,19,0.66) 31%,rgba(49,125,40,0.8) 40%,rgba(53,158,71,0.8) 53%,rgba(51,143,57,0.8) 60%,rgba(46,102,19,0.5) 79%,rgba(46,119,35,0.4) 85%,rgba(45,147,61,0.1) 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(64,165,33,0.1) 5%,rgba(64,165,33,0.28) 11%,rgba(57,147,40,0.4) 15%,rgba(49,124,49,0.48) 20%,rgba(46,102,19,0.66) 31%,rgba(49,125,40,0.8) 40%,rgba(53,158,71,0.8) 53%,rgba(51,143,57,0.8) 60%,rgba(46,102,19,0.5) 79%,rgba(46,119,35,0.4) 85%,rgba(45,147,61,0.1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a40a521', endColorstr='#1a2d933d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color:white ;
    text-align: center;
    font-size: 6rem;
    line-height: 10rem;
}

#home h1 span{
    display: block;
}

/* ------------- PROJECTS ------------ */

#projects{
    min-height: 100vh;
    padding-top: 120px;
}

.wrapper{
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;

}

.project_mini{
    overflow: hidden;
    position: relative;
    margin:1rem;
    width:40%;
    height: 200px;
    background-color: orange;
}

.project_mini .appear{
    position: absolute;
    z-index: 1;
    left:-100%;
    transition: left 1s ;
}

.project_title{
    padding: 1rem;
    font-size: 2rem;
}

.project_mini p{
    display: block;
    width: 80%;
    top: 20px;
    font-size: 1.5rem;
    padding: 1rem;
}

.project_mini:hover .appear{
    left:0;
}

.appear{
    width: 120%;
    height: 100%;
    background-color: rgba(124, 124, 124, 0.3)
}

.project_mini img{
    position: absolute;
    left: 10%;
    top: 50%;
    transition: left 1s;
}

.project_mini:hover img{
    left:120%;
}

#projects .arrow_next{
    padding-top: 60px;
}

/* ------------- ABOUT ------------ */

#about{
    min-height: 100vh;
    padding-top: 120px;
    background-color:rgba(124, 124, 124, 0.3);
}

#presentation{
    font-size: 1.6rem;
    margin: 0 auto;
    width: 70%;
    padding: 0.5rem;
}

#about section{
    width: 100%;
    height: 56vh;
    display: flex;
}

.about_title{
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 2rem;
}

.competences, .parcours{
    padding: 3rem;
    background-color: rgb(88, 80, 80);
    width: 45%;
    font-size: 1.6rem;
    margin: 2.5%;
    min-height:450px; 
}

.container{
    min-height: 110px;
    display: flex;
    background-color: rgba(124, 124, 124, 0.3);
    margin: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container div{
    width: 70%;
    display: inline-block;
}

.container p {
    line-height: 8rem;
}

.resize{
    min-width: 100px;
    width: 20%;
    padding: 1rem;
}

#about .arrow_next{
    padding: 25px 0 40px;
}

.graduation{
    background-color: white;
    width: 150px;
    height: 20px;
}

.php_grad, .js_grad, .html_grad {
    background-color: purple;
    width: 100px;
    height: 20px;
}

.bubble {
    background-color: rgba(124, 124, 124, 0.3);
    border-radius: 50px;
    width: 75px;
    height: 75px;
    text-align: center;
    line-height: 7.5rem;
}

.container2{
    background-color: rgba(124, 124, 124, 0.3);
    margin: 0.5rem;
    display: flex;
    padding: 1rem;
}

.container2 .event{
    width:80%;
    text-align: right;
    line-height: 7.5rem;
    margin-right: 50px;
}

.cv_button{
    margin: 10px auto;
    text-align: center;
    padding-top:5rem;
}

.cv_button a {
    line-height: 4rem;
    padding: 10px;
    font-size: 2rem;
    color: black;
    border:1px solid black;
}

/* ------------- CONTACT ------------ */

#contact{
    
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
}

#contact .section_title{
    width: 100%;
}
.contact_title{
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 2rem;
}

.left, .right{
    padding: 3rem;
    background-color: red;
    margin: 2%;
    width: 46%;
}

.arrow_top{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding-top: 140px;
}

/* ------------- FOOTER ------------ */
